<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="ru.emil.springcourse"/>

<!--    <bean id="rapMusic"-->
<!--              class="ru.emil.springcourse.RapMusic">-->
<!--    </bean>-->
<!--    <bean id="classicalMusic"-->
<!--          class="ru.emil.springcourse.ClassicalMusic"-->
<!--          init-method="musicInit"-->
<!--          destroy-method="musicDestroy"-->
<!--          factory-method="getClassicalMusic"  -->
<!--          scope="prototype">-->
<!--    </bean>-->
<!--    <bean id="rockMusic"-->
<!--          class="ru.emil.springcourse.RockMusic">-->
<!--    </bean>-->

<!--    <bean id="musicPlayer"-->
<!--          class="ru.emil.springcourse.MusicPlayer"-->
<!--          scope="prototype">-->
<!--        <property name="musicList">-->
<!--            <list>-->
<!--                <ref bean="rapMusic"/>-->
<!--                <ref bean="classicalMusic"/>-->
<!--                <ref bean="rockMusic"/>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="sizeList">-->
<!--            <list>-->
<!--                <value>1</value>-->
<!--                <value>2</value>-->
<!--                <value>3</value>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

</beans>